1.8

In [ ]:
8.6

In [1]:
number = input('Enter numbers separated by space: ')
number_splited = number.split()
number_joined = '\n'.join(number_splited)
print(number_joined)

Enter numbers separated by space: 1 2 23 4
1
2
23
4

In [9]:
##
# Напишем свою функцию new_format
# с её помощью нам надо выводить на экран отформатированную строку вида: "Hello, Имя! Today is день_недели. Have a nice day!"
# пример: Hello, John! Today is Friday. Have a nice day!
# мы уже сделали заготовку функции вам осталось только задать строку
# переменные, которые надо использовать, указаны в круглых скобках после имени функции
# user_name - имя пользователя, dayofweek - название дня недели
# запишите форматированную строку вместо знаков вопроса
# ! обязательное условие - задача должна быть решена с использованием метода format
##


def new_format(user_name, dayofweek):
    print('Hello, {}! Today is {}. Have a nice day!'.format(user_name,dayofweek))

new_format('John', 'Friday')

Hello, John! Today is Friday. Have a nice day!

In [7]:

def new_format(user_name, dayofweek):
    new_format('John', 'Friday')   
    print('Hello, {}! Today is {}. Have a nice day!'format(username,dayofweek))

SyntaxError: invalid syntax (<ipython-input-7-cabc7ac0fabe>, line 3)

In [8]:
name = 'John'
percent= 45
print(f"Hello, {name}! Yesterday you fulfilled the norm by {percent:.1f}%")

Hello, John! Yesterday you fulfilled the norm by 45.0%

Задание 2.4 
Создайте пустой список с именем empty_list с помощью конструктора типа и выведите через функцию print() содержимое полученной переменной. В качестве ответа введите результат вывода.

 Задание 2.5
1 point possible (graded)
Теперь создайте переменную another_empty_list, но уже используя квадратные скобки. Также выведите через функцию print() содержимое переменной. В качестве ответа введите результат вывода.

In [2]:
empty_list=[]
print(empty_list)
another_empty_list = list()
print(another_empty_list )

[]
[]

In [7]:
a 
# range(1, 10)

a = range(10)  
print(a)

range(0, 10)

In [12]:
a = ["a", "b", "c"]
a[2]

'c'

In [13]:
#Создайте список из чисел от -5 до 5. Затем сделайте срез, чтобы в ответе был следующий список: [-1, 0, 1, 2, 3]. В качестве ответа напишите через запятую два положительных числа, являющихся границами среза.
    
numbers = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
print(numbers[4:9])

[-1, 0, 1, 2, 3]

In [14]:
#Создайте список из элементов от -3 до 6 и, используя срез [::-1], инвертируйте список. Выведите полученный результат. В качестве ответа запишите результат вывода.
numbers = [-3,-2,-1,0,1,2,3,4,5,6]
print(numbers[::-1])

[6, 5, 4, 3, 2, 1, 0, -1, -2, -3]

In [15]:
#С помощью функции .split() получите список из строки 'hello kitty' и возьмите два последних элемента. В качестве ответа введите результат вывода.

st1 = 'hello kitty'
a=st1.split()
print(a)

['hello', 'kitty']

 Задание 2.12
1 point possible (graded)

Старайтесь выполнить задание самостоятельно. Но также у вас есть возможность увидеть решение, введя в поле ниже «хочу увидеть ответ» (без кавычек). В этом случае задание будет зачтено как выполненное некорректно.

    Создайте три переменные: a, b, c.
    Положите в них следующие строковые значения: 'order1', 'order2', 'order3'.
    Создайте пустой список orders, используя квадратные скобки.
    Последовательно положите все три созданные переменные в список.

Выведите значение получившегося списка на экран с помощью фукнции print(). В качестве ответа запишите результат вывода.

==============
 Задание 2.13
1 point possible (graded)

Старайтесь выполнить задание самостоятельно. Но также у вас есть возможность увидеть решение, введя в поле ниже «хочу увидеть ответ» (без кавычек). В этом случае задание будет зачтено как выполненное некорректно.

    Создайте две переменные: book1, book2.
    Положите в них следующие строковые значения: 'my book', 'your book'.
    Создайте список books, используя квадратные скобки. В нём уже должно лежать значение 'all_books'.
    Последовательно положите две созданные переменные в список.

Выведите значение получившегося списка на экран. В качестве ответа запишите результат вывода.

=============

 Задание 2.14
1 point possible (graded)
Создайте список letters из первых пяти букв английского алфавита. Выведите его. Затем примените к списку letters функцию .clear(). Снова выведите результат. В качестве ответа запишите результат последнего вывода.

=========
 Задание 2.15
1 point possible (graded)
Создайте список numbers из десяти произвольных элементов, но числа 5 и 1 в нём должны повторяться 3 и 2 раза соответственно. Примените к полученному списку функцию .count(). В качестве аргумента функции возьмите число 5. Выведите полученный результат. В качестве ответа запишите результат вывода.

==
Задание 2.15 
Создайте список numbers из десяти произвольных элементов, но числа 5 и 1 в нём должны повторяться 3 и 2 раза соответственно. Примените к полученному списку функцию .count(). В качестве аргумента функции возьмите число 5. Выведите полученный результат. В качестве ответа запишите результат вывода.


====

2.16
Создайте список my_books из пяти элементов: 'book1', 'book2', 'book3', 'book4', 'book5'. Затем используйте функцию .copy() для копирования содержимого вашего списка в список tom_books. Выведите два полученных списка. В качестве ответа запишите результат вывода.

2.17
Создайте список my_orders из пяти элементов: 'order1', 'order2', 'order3', 'order4', 'order5'. Затем используйте квадратные скобки и двоеточие внутри для копирования содержимого вашего списка в список anne_orders. Выведите два полученных списка. В качестве ответа запишите результат вывода.

2.20
Создайте список random_values = [3, 5, 0, -1, 2, 10, 15, -5]. Вызовите метод .sort() на этом списке. Снова выведите список random_values. В качестве ответа запишите результат вывода.


2.21

Создайте список list1. Запишите в него последовательно:

    число 5;
    число 0.2;
    строку 'hello there';
    список [1,2,3,4];
    строку 'bye'.

Выведите результат. В качестве ответа запишите результат вывода.


2,24
Создайте пустой кортеж tpl, используя конструктор типов tuple(). Выведите полученный результат. В качестве ответа напишите результат вывода.

2,25
Создайте кортеж tpl2 c одним числом, равным 255. Выведите результат. В качестве ответа запишите результат вывода.


2.26
Создайте кортеж tpl3 c тремя числами: 15, 22 и 0. Выведите результат. В качестве ответа запишите результат вывода.

In [49]:

# 2.12

a = 'order1'
b = 'order2'
c = 'order3'
new=[]
new.append(a)
new.append(b)
new.append(c)
print(new)


%reset -f

# 2.13

book1='my book'
book2='your book'
books=['all_books']
books.append(book1)
books.append(book2)
print(books)


a = ["order1", "order2", "order3", "order4"]
a.clear()
a 


a = ["a", "b", "c", "d", "b", "b", "g", "b", "r"]
a.count('b') 


#2.16
my_books=['book1', 'book2', 'book3', 'book4', 'book5']
tom_books = my_books[:]
print(my_books, tom_books)
jim_books = my_books.copy()
jim_books

#2.17

my_orders = ['order1', 'order2', 'order3', 'order4', 'order5']
anne_orders = my_orders[:]
print(2.17)
print(my_orders,anne_orders)

#2.18
print(2.18)
a = ['order1', 'order2', 'order3']
b = ['book1', 'book2']
a.extend(b)
a 


#2.19
print(2.19)
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.reverse()
print(numbers)

print('2.20')
random_values = [3, 5, 0, -1, 2, 10, 15, -5]
random_values.sort()
print(random_values)

print('2.21')
list1 =[]
list1.append(5)
list1.append(0.2)
list1.append('hello there')
list1.append([1,2,3,4])
list1.append('bye')
list1


print('2.24')
tpl=tuple()
print(tpl)

print('2.25')
tpl =(255,)
print(tpl)

print('2.26')
tpl=(15,22,0)
tpl

['order1', 'order2', 'order3']
['all_books', 'my book', 'your book']
['book1', 'book2', 'book3', 'book4', 'book5'] ['book1', 'book2', 'book3', 'book4', 'book5']
2.17
['order1', 'order2', 'order3', 'order4', 'order5'] ['order1', 'order2', 'order3', 'order4', 'order5']
2.18
2.19
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
2.20
[-5, -1, 0, 2, 3, 5, 10, 15]
2.21
2.24
()
2.25
(255,)
2.26

(15, 22, 0)

# 3. Типы данных: словарь

 Задание 3.4
1 point possible (graded)
Создайте пустой словарь empty_dict, используя конструктор типов. Выведите результат. В качестве ответа запишите результат вывода.

Введите ответ без пробелов. 

Задание 3.5
1 point possible (graded)

Старайтесь выполнить задание самостоятельно. Но также у вас есть возможность увидеть решение, введя в поле ниже «хочу увидеть ответ» (без кавычек). В этом случае задание будет зачтено как выполненное некорректно.
Создайте пустой словарь empty_dict1, используя конструктор типов, а затем второй словарь empty_dict2 с использованием фигурных скобок. Выведите результаты. Убедитесь, что выводы одинаковые. В качестве ответа запишите результат вывода. 


Задание 3.6
1 point possible (graded)
Создайте словарь alphabet_dict, в котором в качестве ключей будут пять первых букв английского языка, а в качестве значений для этих ключей будут числа от 1 до 5. Верните значение для буквы d:
нет ответа


Задание 3.7
1 point possible (graded)
Создайте словарь place_and_money, в котором в качестве ключей будут числа от 1 до 3, а в качестве значений — числа 100, 50, 10. Выведите денежный приз для второго места:

 Задание 3.8
1 point possible (graded)

В словарь place_and_money = {1: 100, 2: 50, 3: 10} добавьте четвёртое место с призом, равным 5. Выведите получившийся словарь. В качестве ответа запишите результат вывода.

Задание 3.9
В словаре place_and_money = {1: 100, 2: 50, 3: 10} измените призовое значение для третьего места с 10 на 25. Выведите получившийся словарь. В качестве ответа запишите результат вывода.

Задание 3.10
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Очистите этот словарь. Выведите результат. В качестве ответа запишите результат вывода.

 Задание 3.11
1 point possible (graded)
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Воспользуйтесь методом .keys() и выведите результат. В качестве ответа запишите результат вывода.


 Задание 3.12
1 point possible (graded)
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Воспользуйтесь методом .keys() и выведите результат. В качестве ответа запишите результат вывода.


 Задание 3.13
1 point possible (graded)

Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Воспользуйтесь методом .values() и выведите результат. В качестве ответа запишите результат вывода.
нет ответа


Задание 3.14
1 point possible (graded)
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Воспользуйтесь методом .values() и выведите результат. В качестве ответа запишите результат вывода.


 Задание 3.15

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Попробуйте вывести приз для 20 места через метод .get(). В качестве значения по умолчанию поставьте число 0. В качестве ответа запишите результат вывода.
нет ответа

Задание 3.16
1 point possible (graded)
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Попробуйте вывести возраст для персонажа по имени 'Danny'. Если такого имени не будет в словаре, выведите -1. В качестве ответа запишите результат вывода.

Задание 3.17
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Затем добавьте в него следующие места и значения: четвёртое место с призом 5, пятое место с призом 1. Используйте метод update(). Выведите результат. В качестве ответа запишите результат вывода.

Задание 3.18
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Измените у Анны возраст на 23, а у Филиппа — на 29. Используйте метод update(). Выведите результат. В качестве ответа запишите результат вывода.

Задание 3.19
Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Удалите с возвратом (используйте метод .pop()) значение приза за третье место. Выведите полученный результат. В качестве ответа запишите результат вывода.

Задание 3.20
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Удалите из словаря данные для Антона (с возвратом). Выведите полученный результат. В качестве ответа запишите результат вывода.

Задание 3.21

Создайте словарь place_and_money = {1: 100, 2: 50, 3: 10}. Через метод .setdefault() установите значение, равное 1, для десятого места. Выведите результат. В качестве ответа запишите результат вывода


Задание 3.22
Создайте словарь name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}. Через метод .setdefault() обновите возраст у Анны с 22 до 32. Выведите результат — он не должен измениться. В качестве ответа запишите результат вывода.

Задание 3.23
Создайте пустой словарь test_dict. Затем вставьте в него в качестве ключа число 5, а в качестве значения — список [3,4,5]. Затем в тот же словарь в качестве ключа добавьте кортеж (3,4,5), а его значением укажите строку 'strong man'. Выведите результат. В качестве ответа запишите результат вывода.

Задание 3.24
Создайте пустой словарь test_dict2. По ключу 'name' поставьте строку 'Sancho'. В качестве значения для ключа 'surname' поставьте 'Panso'. А для ключа 'info' добавьте словарь {'age': 35, 'country': 'Mexico'}. Выведите результат. В качестве ответа запишите результат вывода.

Задание 3.25
Создайте пустой словарь test_dict3. По ключу 'info' добавьте список [10, 15, 27]. А ключу 'about' поставьте словарь {'game': 'football', 'period': 5}. Затем измените значение по ключу 'about' на 'dont know'. Выведите результат. В качестве ответа запишите результат вывода.

In [13]:
#3.4

empty_dict = dict()
empty_dict

#3.5

empty_dict1 = dict()
empty_dict2 = {}
empty_dict1
empty_dict2


#3.6

#alphabet_dict = dict('a':1,'b':2,'c':3,'d':4,'e':5)
alphabet_dict = {'a':1,'b':2,'c':3,'d':4,'e':5}
alphabet_dict['d']

#3.7
place_and_money ={1:100,2:50,3:10}
place_and_money[2]

#3.8
place_and_money ={1:100,2:50,3:10}
place_and_money[4]=5
place_and_money


#3.9
place_and_money ={1:100,2:50,3:10}
place_and_money[3]=25
place_and_money

#3.10
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.clear()
place_and_money

#3.11
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.keys()

#3.12
name_to_age = {'Anne': 22,'Anton': 27, 'Phillip':30}
name_to_age.keys()

#3.13
name_to_age = {'Anne': 22,'Anton': 27, 'Phillip':30}
name_to_age.values()

#3.14
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.values()
 
#3.15
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.get(20,0)

#3.16
name_to_age = {'Anne': 22,'Anton': 27, 'Phillip':30}
name_to_age.get('Danny',-1)

#3.17
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.update({4:5,5:1})
place_and_money


#3.18
name_to_age = {'Anne': 22,'Anton': 27, 'Phillip':30}
name_to_age.update({'Anne':23,'Phillip':29})
name_to_age

#3.19
place_and_money = {1: 100, 2: 50, 3: 10}
place_and_money.pop(3)
#place_and_money

#3.20
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.pop('Anton')

#3.21
place_and_money = {1: 100, 2:50, 3:10}
place_and_money.setdefault(10,1)
place_and_money

#3.22
name_to_age = {'Anne': 22, 'Anton': 27, 'Phillip': 30}
name_to_age.setdefault('Anne',32)
name_to_age

#3.23
test_dict={5:[3,4,5],(3,4,5):'strong man'}
test_dict

#3.24
test_dict2 ={'name':'Sancho','surname':'Panso','info':{'age': 35, 'country': 'Mexico'}}
test_dict2


#3.25
test_dict3={}
test_dict3['info']=[10, 15, 27]
test_dict3['about']={'game': 'football', 'period': 5}
test_dict3['about']='dont know'
test_dict3

{'info': [10, 15, 27], 'about': 'dont know'}

# 4. Типы данных: множества

#4.1
Создайте с помощью конструктора типов пустое множество s1. Выведите результат. В качестве ответа запишите результат вывода.

#4.2
Создайте с помощью фигурных скобок множество s2, в котором будет пять элементов: 5, 10, 3, 2, 11. В качестве ответа запишите получившуюся строку кода.

#4.3
Создайте множество s3 с помощью конструктора типов из строки 'wow thats cool'. Выведите результат.
В качестве ответа запишите результат вывода в окне ниже.

#4.4
Создайте множество s1 из первых пяти букв английского языка. Затем с помощью метода .add() добавьте новый элемент со значением 'hello'. Выведите результат.
В качестве ответа запишите результат вывода.

#4.5
Создайте множество s1 из первых пяти букв английского языка. Затем с помощью метода .remove() удалите элемент 'd'. Выведите s1.
В качестве ответа запишите результат вывода.

#4.6
Создайте множество s1 из первых шести букв английского языка. Вызовите метод .discard() на элементе 'f'. Выведите результат.
В качестве ответа запишите результат вывода.

#4.7
Создайте множество s1 из первых шести букв английского языка. Вызовите метод .remove() на элементе 'f'. Выведите результат.
В качестве ответа запишите результат вывода.

#4.8
Создайте множество alpha_set из первых пяти букв английского алфавита. Затем создайте множество name из строки 'bad boy'. Примените метод .union() к созданным множествам. Выведите результат.
В качестве ответа запишите результат вывода.

#4.9
Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените метод .union() к созданным множествам. Выведите результат. В качестве ответа запишите результат вывода.

#4.10
Создайте множество alpha_set из первых пяти букв английского алфавита. Затем создайте множество name из строки 'bad boy'. Примените метод .intersection() к созданным множествам. Выведите результат.
В качестве ответа запишите результат вывода.

#4.11
Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените метод .intersection() к созданным множествам. Выведите результат. В качестве ответа запишите результат вывода.

#4.12
Создайте множество alpha_set из первых пяти букв английского алфавита. Затем создайте множество name из строки 'bad boy'. Примените метод .difference() к созданным множествам. Выведите результат.
В качестве ответа запишите результат вывода.

#4.13
Создайте множество num_set из чисел от 0 до 10 (включительно). Затем создайте множество date_num из списка [1,9,4,8]. Примените метод .difference() к созданным множествам. Выведите результат. В качестве ответа запишите результат вывода.

In [46]:
#4.1
s1=set()
s1

#4.2
s2={5, 10, 3, 2, 11}
#s2

#4.3
s3=set('wow thats cool')
s3

#4.4
s1=set('abcde')
s1.add('hello')
s1

#4.5
s1=set('abcde')
s1.remove('d')
s1
#4.6
s1=set('abcdef')
s1.discard('f')
s1
#4.7
s1=set('abcdef')
s1.remove('f')
s1

#4.8
alpha_set=set('abcde')
name=set('bad boy')
alpha_set.union(name)

#4.9
num_set={0,1,2,3,4,5,6,7,8,9,10}
date_num=set([1,9,4,8])
num_set.union(date_num)

#4.10
alpha_set=set('abcde')
name=set('bad boy')
alpha_set.intersection(name)

#4.11
num_set={0,1,2,3,4,5,6,7,8,9,10}
date_num=set([1,9,4,8])
num_set.intersection(date_num)

#4.12
alpha_set=set('abcde')
name=set('bad boy')
alpha_set.difference(name)

#4.13
num_set={0,1,2,3,4,5,6,7,8,9,10}
date_num=set([1,9,4,8])
num_set.difference(date_num)

##
num_set={0,1,2,3,4,5,6,7,8,9,10}
date_num=set([1,9,4,8])
num_set.issubset(date_num)  # false
date_num.issubset(num_set)  #True

True

# Приведение типов

5.1
Создайте переменную a. Запишите в неё целое число 3. Сделайте преобразование типа в вещественный. Сохраните результат в переменную b.

Вопрос 1. Выведите значение полученной переменной b и запишите его в качестве ответа.

5.2


5.3


5.4



5.5


5.6


5.7


5.8


5.9


5.10


5.11

In [66]:
#5.1
a=3
b=float(a)
b

#5.2
num1=3
num2=3.5
sum1=num1+num2
sum1
num1=float(num1)
sum2=num1+num2
sum2

#5.3
int_one = 1
str_one = str(int_one)
print(str_one)

#5.4
str_age_begin = 'my age is '
int_age =18
int_age=str(int_age)
result_string = str_age_begin +  int_age
print(result_string)

#5.5
str_brothers_begin= 'I have'
count =5
str_brothers_end = ' brothers'
count=str(count)
result_sentence=str_brothers_begin + count + str_brothers_end
print(result_sentence)

#5.6


#5.7


#5.8


#5.9


#5.10
list1=(1,2,3,4,5)
tpl1=tuple(list1)
tpl1

#5.11'
tpl1=('a','b','c','d','e')
type(tpl1)
list1=list(tpl1)
list1

1
my age is 18
I have5 brothers

['a', 'b', 'c', 'd', 'e']

In [96]:
#6.1
list1=[]
list1.append(1)
list1.append(2)
list1.append(3)
list1


#6.2
l2=range(-5,15,2)
l3=[1,2,3,4]
l3.extend(l2)
l3
#l2

#6.3
l6=[3, 1, -10, 5, 11, 20, 1, -10]
l7=l6.copy()
l6.sort()
l6.reverse()
print(l7)
l6


#6.4
L1=[10, 15]
tpl1=tuple(L1)
d1={tpl1: 'hello'}
d1


#6.5
d1={}
d2={}
d1['name']='unknown'
d2['name']='Tom'
print(d1,d2)
print(d1.keys(),d1.values())

#6.6
s1=set('hello')
s2=set(['w', 'o', 'w'])
print(s1.union(s2),s1.intersection(s2),s1.difference(s2))



#6.7
var = ('a' in ['a', 'b', 'c'])
var

[3, 1, -10, 5, 11, 20, 1, -10]
{'name': 'unknown'} {'name': 'Tom'}
dict_keys(['name']) dict_values(['unknown'])
{'e', 'l', 'o', 'w', 'h'} {'o'} {'e', 'l', 'h'}

True